# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.production
.staff-pass*
.turnstile-*

scripts/test-ical/

# Fresh build directory
_fresh/
# npm + other dependencies
node_modules/
vendor/
.vite/


# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
